html {
  background-color: rgb(46, 44, 44);
}

h1 {
  color: rgb(232, 226, 226);
  margin-bottom: 60px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.screen-display {
  width: inherit;
  height: 53px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: lightgrey;
  text-align: right;
  font-size: xxx-large;
  padding-right: 10px;
  box-shadow: 2px 2px 6px black;
}

.whole-calculator {
  width: 25vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 10px 10px rgb(232, 226, 226);
}

button {
  height: 69px;
  width: 55px;
  border-radius: 13px;
  box-shadow: 2px 2px 6px black;
  margin: 10px;
}

.all-btns {
  margin-top: 3em;
  display: grid;
  grid-template-columns: [first] 2fr [line2] auto;
  grid-template-rows: [first] 73%;
  height: 50vh;
}

.fnct-btns {
  display: flex;
}

.zero-clear-btns > button {
  height: 100px;
  grid-area: 1 / col4-start / last-line / 6;
}

.btn-container {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 90px ;
  justify-items: center;
}
